@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/Inter/WOFF2/Inter-Regular.woff2') format('woff2'),
    url('/fonts//Inter/WOFF/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('/fonts/O/Inter/WOFF2/Inter-Medium.woff2') format('woff2'),
    url('/fonts//Inter/WOFF/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('/fonts/O/Inter/WOFF2/Inter-Bold.woff2') format('woff2'),
    url('/fonts//Inter/WOFF/Inter-Bold.woff') format('woff');
}



h1 {
  font-family: 'Inter-Bold', sans-serif;
  color: #000;

  font-size: 2.8rem;
}
